.header{
    background-color: #fff;
    border-bottom: 1px solid black;
}
.logo{color:#2b3857!important;}
.login-wrap{
    background: #2b3857;
}


.plugins-tips{
    background: #fff;
}
.plugins-tips a{
    color: #2b3857;
}
.el-upload--text em {
    color: #2b3857;
}
.pure-button{
    background: #2b3857;
}
.vue-datasource .btn-primary {
    color: #fff;
    background-color: #2b3857 !important;
    border-color: #2b3857 !important;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: #fff !important;
    border-color: #ddd !important;
    color: #777 !important;
}
.is-active{ color: #428bca !important;}
.el-menu li{color: #fff;background: #2b3857!important;}
.el-menu{background: #2b3857!important;}
.el-submenu__title{
    color: #fff!important;
}
.el-submenu__title{
    color: #fff!important;
}
.el-submenu .el-menu-item:hover, .el-submenu__title:hover{background-color:#2b3857!important;}
